/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles or utilities*/
 body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
 }
 main{
    display: flex;
    justify-content: center;
 }
 .container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
 }

/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr  1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/*-------------------
    top blog styles 
 -------------------*/
.blog{
    display: flex;
}
 .blog .thumbnail img{
    width: 177px;
    height: 117px;
 }
 .blog-info{
    margin-left: 16px;
 }
 .blog-title{
    font-size: 20px;
 }
 .blog-author{
    font-size: 16px;
    color: #9f9f9f;
 }
 .blog-author a{
    text-decoration: none;
    color:#562EFF;
 }

