/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles or utilities*/
 body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
 }
 main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }
 .container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
 }

/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr  1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 27px;
}

/*-------------------
    top blog styles 
 -------------------*/
 .blogs{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 26px;
 }
.blog{
    display: flex;
}
 .blog .thumbnail img{
    width: 177px;
    height: 117px;
 }
 .blog-info{
    margin-left: 16px;
 }
 .blog-title{
    font-size: 20px;
 }
 .blog-author{
    font-size: 16px;
    color: #9f9f9f;
 }
 .blog-author a{
    text-decoration: none;
    color:#562EFF;
 }

 /*----------------
   Courses styles 
   -----------------*/
   .courses{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
   }
   .course{
      padding: 10px;
      box-shadow: 0 0 5px #888;
      border-radius: 5px;
   }
   .course-duration {
      background: #FFE4E8;
      color: red;
      padding: 5px 16px;
      border-radius: 25px;
  }
   .course-banner img{
      width: 154px;
      height: 68px;
   }
   .fa-star{
      font-size: 12px;
   }
   .fa-star.filled{
      color: #FFC014;
   }
   .fa-star.empty{
      color: #AEAEAE;
      
   }
   .course-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   /* --------------
   Media Queties 
   --------------- */

   /* Mobile devices */
   @media only screen and (max-width: 688px) {
      .container{
         width: 100%;
      }
      .players, .blogs, .courses{
         /* background-color: red; */
         grid-template-columns: repeat(1,1fr);
      }
      .player{
         flex-direction: column;
      }
      .blog{
         
    flex-direction: column;
    align-items: center
      }
   }

   /* Tablete Devices */
   @media only screen and (min-width: 688px) and (max-width: 992px) {
      .players{
         background-color: yellowgreen;
      }
   }
